*{
    Margin: 0;
    padding:0;
}
header{
    background-color:aqua;
    position:fixed;
    text-align:center;
    top:0;
    Width:100%;
  }
H1{
    text-align:center;
    font-size: 52pt;

}
#links {
    text-align:right;
    margin-right:20px

}

.li-1 {
    display:inline;
    font-size: 20pt;
    text-align: right;
 



}

body {
 position: relative;
   background-color:aquamarine;
  top:100px;
  
  
  
  
}

footer{
    background-color:salmon;
    Margin-top: 1000px;
}
img {


}