*{
    Margin: 0;
    padding:0;
}
header{
    background-color:aqua;
    position:fixed;
    text-align:center;
    top:0;
    Width:100%;
  }
H1{
    text-align:center;
    font-size: 52pt;

}
#links {
    text-align:right;
    margin-right:20px

}

.li-1 {
    display:inline;
    font-size: 20pt;
    text-align: right;
    margin:0 5px;
 }

body {
 position: relative;
   background-color:aquamarine;
  top:100px;
  text-align: center;
  
  
  
  
}

footer {
    background-color:salmon;
    Position: relative;
    


 
    
    
}
form, span {
    position: relative;

}
input , #send , img {
 margin-top:5px;   

}
button {
    height: 60px;
    width: 100px;
    font-size: 30pt;
    color:red;
}